@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

body {
  font-family: 'Droid Sans', serif;
  background-color: #f5f5f5;
  margin-bottom: 7rem;
}

.toast{ font-size:1.5rem; }
.row {
  margin-right: 0px;
}
.container{
  width:1130px;
}
.table td, .table th {
  padding:0rem;
}

tbody{
  border-bottom: 2px solid rgb(172, 170, 170);
}
/* table { border-collapse: collapse; }
thead {
    border-right: solid 3px black; 
    border-left: solid 3px black;
    border-top: 3px solid black;
   border-bottom: 3px solid black;}
tr {
   
  border-bottom:1.5px solid black; }
td {
  border-right: solid 1.5px black; 
  border-left: solid 1.5px black;
} */
.main-color-bg {
  background-color: #3a4953 !important;
  color: #fff !important;
}

p {
  display: inline;
}

.row {
 
}

#box1 {
  height: 300px;
  width: 300px;
  margin-top: 180px;
  /*border: 1px solid #d3d3d3;*/
}

#box2 {
  height: 300px;
  width: 300px;
  margin-top: 180px;
  /*border: 1px solid #d3d3d3;*/
}

#addprod {
  margin-top: 30px;
}

#viewprod {
  margin-top: 30px;
}

.navbar-brand {
  color: #9ca3a8;
  font-size: 16px;
}

a:link {
  color: #9ca3a8;
}

.navbar {
  margin: 0;
  border-radius: 0;
  background-color: #3a4953;
  border: 0px;
}

.nav > li > a:visited  {
  background-color: #222f38;
  color: #9ca3a8;
}

.nav > li > a:hover {
  background-color: #222f38;
  color: #ffffff;
}

.icon-bar {
  height: 100vh;
  width: 65px;
  text-align: center;
  background-color: #ededed;
}

.icon-bar a {
  padding: 16px;
  display: block;
  transition: all 0.3s ease;
  font-size: 18px; /* font-size for the icons */
}

#bar-item {
  font-size: 9px;
  font-weight: bold;
  text-decoration: none;
}

#reports {
  margin-top: 30px;
}

#saleshistory {
  margin-top: 35px;
}

.pagination > .active > a {
  background-color: #3a4953;
  border-color: #28333a;
  color: #fff;
}

.pagination > .active > a:hover {
  background-color: #2e3a42;
  border-color: #28333a;
}

.container-wrapper{
  border: 1px solid rgba(0, 0, 0, .11);
    ;
    padding: 10px;
    width: 100%;
}

.active {
  background-color: #f3f3f3;
}

.navbar-form > #search-bar {
  width: 430px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#home {
  color: #433e90;
}

#sale {
  color: #7bc043;
}

#history {
  color: #f37736
}

#report {
  color: #0392cf;
}

#products {
  color: #ee4035;
}

.fill{
  height: 94.5vh;
  text-align: center;
  background-color: #ededed;
}


#menu-items #btnCol {
  padding-right: 0;
  padding-bottom: 10px;
}
